.register {
    height: calc(100vh - 25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)),
        url("file:///C:/Users/Binyam/Downloads/tronresize.jpg");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .registerForm > label {
    margin: 10px 0;
  }

  .registerForm, label, input {
      font-size: 20px;
  }
  
  .registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .registerInput:focus {
    outline: none;
  }
  
  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(35, 61, 85);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
  .registerLoginButton {
    position: absolute;
    margin-top: 50px;
    top: 60px;
    right: 20px;
    background-color: rgb(233, 135, 70);
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 16px;
  }