.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: rgb(0, 195, 255);
}

.headerImg {
    width: 100%;
    height: 1000px;
    margin-top: 8px;
    object-fit: cover;
}